doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TinguRides - Drivers
        script(src="https://cdn.tailwindcss.com")
    body.h-screen.w-screen
        .block.p-6.rounded-lg.shadow-lg.bg-white.w-full.h-full
            p.text-2xl.font-semibold.uppercase.text-center.py-4 Welcome Tingu Rides Admin Portal
            case err 
                when true 
                    p.w-96.my-4.py-2.px-4.font-semibold.rounded-md.shadow-md.bg-red-700.text-white= message
                default 
                    div.flex.justify-center
            
            .py-8.text-xl.font-semibold.tracking-wider.text-gray-800= `There are ${drivers_count} registered drivers.`
            .flex.gap-4.space-between
                a.inline-block.px-12.py-3.text-sm.font-medium.text-indigo-600.border.border-indigo-600.rounded(class='hover:bg-indigo-600 hover:text-white active:bg-indigo-500 focus:outline-none focus:ring', href='/new-driver') Create A Driver
                a.inline-block.px-12.py-3.text-sm.font-medium.text-indigo-600.border.border-indigo-600.rounded(class='hover:bg-indigo-600 hover:text-white active:bg-indigo-500 focus:outline-none focus:ring', href='/drivers') Drivers List

            
           
